@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.DataModel.OBK_Procunts_Series

<div class="row group-series" style="margin-bottom: 10px">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="col-lg-3">
                <div class="input-group">
                    <label>Серия</label>
                    @Html.TextBox(Model.Series, new { @class = "edit-control org-control form-control" })
                    @*<input id="series" name="series" type="text" class="form-control edit-control" text="@series">*@
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <label>Произведена</label>
                    @Html.TextBox(Model.SeriesEndDate, new { @class = "edit-control org-control form-control" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <label>Истекает</label>
                    @Html.TextBox(Model.SeriesEndDate, new { @class = "edit-control org-control form-control" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <label>Партия</label>
                    @Html.TextBox(Model.SeriesEndDate, new { @class = "edit-control org-control form-control" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <label>Ед. измерения</label>
                </div>
            </div>
        </div>
    </div>
</div>
                