@using System.Globalization
@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.DataModel.OBK_RS_Products
@{
    var @regNumber = "";
    var @tradeName = "";
    var @manufacturer = "";
    var @mnn = "";
    var @ls = false;
    var @imn = false;

    var @nameRu = "";
    var @nameKz = "";
    var @producerNameRu = "";
    var @producerNameKz = "";
    var @countryNameRu = "";
    var @countryNameKz = "";
    var @tnvedCode = "";
    var @kpvedCode = "";
    var @price = "";
    var @currency = "";
    var @series = "";
    var @series1 = "";
}



<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="tableProducts" style="width: 100%; text-align: center" class="display" cellspacing="0" width="100%" >
                    </table>
                    <div class="form-group">
                        <div class="col-lg-3">
                            <button type="button" class="btn btn-success btn-sm add-btn-from4" id="deleteBtn" style="margin-top: 10px">
                                <span class="glyphicon" aria-hidden="true"></span>Удалить
                            </button>
                        </div>
                    </div>
                </div>  
            </div>  
        </div>   
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Поиск в Гос. реестре ЛС, ИМН и МТ
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <label>Рег. номер</label>
                                        <input id="RegNumber" name="RegNumber" type="text" class="form-control edit-control" text="@regNumber">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <input id="LS" name="LS" type="checkbox" class="form-control edit-control" text="@ls" style="text-align: left">
                                        <label>Лекарственные средства</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <input id="IMN" name="IMN" type="checkbox" class="form-control edit-control" text="@imn">
                                        <label>ИМН и МТ</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <label>Торговое название</label>
                                        <input id="TradeName" name="TradeName" type="text" class="form-control edit-control" text="@tradeName">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <label>Производитель</label>
                                        <input id="Manufacturer" name="Manufacturer" type="text" class="form-control edit-control" text="@manufacturer">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <label>МНН</label>
                                        <input id="MNN" name="MNN" type="text" class="form-control edit-control" text="@mnn">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-success btn-sm add-btn-from4" id="searchBtn" style="margin-top: 10px">
                                        <span class="glyphicon" aria-hidden="true"></span>Поиск
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Информация о заявлемой продукции
                </div>
                <div class="panel-body" id="productsId">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <label>Наименование*</label>
                                        <input id="NameRu" name="NameRu" type="text" class="form-control edit-control" text="@nameRu">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <label>Наименование на казахском</label>
                                        <input id="NameKz" name="NameKz" type="text" class="form-control edit-control" text="@nameKz">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <label>Наименование производителя</label>
                                        <input id="ProducerNameRu" name="producerNameRu" type="text" class="form-control edit-control" text="@producerNameRu">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <label>Наименование производителя на казахском</label>
                                        <input id="ProducerNameKz" name="ProducerNameKz" type="text" class="form-control edit-control" text="@producerNameKz">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <label>Страна</label>
                                        <input id="CountryNameRu" name="CountryNameRu" type="text" class="form-control edit-control" text="@countryNameRu">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <label>Страна на казахском</label>
                                        <input id="CountryNameKz" name="CountryNameKz" type="text" class="form-control edit-control" text="@countryNameKz">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <label>ТН ВЭД</label>
                                        <input id="TnvedCode" name="TnvedCode" type="text" class="form-control edit-control" text="@tnvedCode">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <label>КП ВЭД</label>
                                        <input id="KpvedCode" name="KpvedCode" type="text" class="form-control edit-control" text="@kpvedCode">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <label>Цена</label>
                                        <input id="Price" name="Price" type="text" class="form-control edit-control" text="@price">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <label>Валюта</label>
                                        <input id="Currency" name="Currency" type="text" class="form-control edit-control" text="@currency">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    Серии продукции
                                                </div>
                                                <div id="productsSeriesId" class="panel-body">
                                                    
                                                    <div class="row" style="margin-bottom: 10px">
                                                        <div class="col-sm-12">
                                                            <div class="form-group" id="attachProduct">
                                                                <div class="col-lg-3">
                                                                    <div class="input-group">
                                                                        <label>Серия</label>
                                                                        <input id="series" name="series" type="text" class="form-control edit-control" text="@series">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="input-group">
                                                                        <label>Произведена</label>
                                                                        <input id="series1" name="series1" type="text" class="form-control edit-control" text="@series1">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <div class="input-group">
                                                                        <label>Истекает</label>
                                                                        <input id="series1" name="series1" type="text" class="form-control edit-control" text="@series1">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <div class="input-group">
                                                                        <label>Партия</label>
                                                                        <input id="series1" name="series1" type="text" class="form-control edit-control" text="@series1">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <div class="input-group">
                                                                        <label>Ед. измерения</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    

                                                    <div class="row" style="margin-bottom: 10px">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <div class="col-lg-3">
                                                                    <div class="col-lg-3">
                                                                        <button type="button" class="btn btn-success btn-sm add-btn-from4" id="addProductSeriesBtn" style="margin-top: 10px">
                                                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@ResourceSetting.add
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-success btn-sm add-btn-from4" id="saveProductBtn" style="margin-top: 10px">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Сохранить @*@ResourceSetting.add*@
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var table = $('#tableProducts').DataTable({
            data: null,
            columns: [
                { title: "" },
                { title: "Наименование" },
                { title: "Производитель" },
                { title: "Страна-производитель" },
                { title: "ТН ВЭД" },
                { title: "КП ВЭД" }
            ]
        });

        $('#tableProducts tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $('#deleteBtn').click(function () {
            table.row('.selected').remove().draw(false);
        });

        // поиск в реестре
        $("#searchBtn").on("click",
            function() {
                $.ajax({
                    type: "POST",
                    url: "/SafetyAssessment/GetSearchReestr",
                    data: {
                        'regNumber': $("#RegNumber").val(),
                        'tradeName': $("#TradeName").val(),
                        'manufacturer': $("#Manufacturer").val(),
                        'mnn': $("#MNN").val()
                    },
                    dataType: 'json',
                    cache: false,
                    success: function(data) {
                        if (data.Success) {
                            $("#NameRu").val(data.name);
                            $("#NameKz").val(data.name);
                            $("#ProducerNameRu").val(data.producer_name);
                            $("#ProducerNameKz").val(data.producer_name);
                            $("#CountryNameRu").val(data.country_name);
                            $("#CountryNameKz").val(data.country_name);
                            $("#TnvedCode").val(data.tnved_code);
                            $("#KpvedCode").val(data.kpved_code);
                            $("#Price").val(data.cost);
                            $("#Currency").val(data.currency_name);
                        } else {
                            $("#NameRu").val("");
                            $("#NameKz").val("");
                            $("#ProducerNameRu").val("");
                            $("#ProducerNameKz").val("");
                            $("#CountryNameRu").val("");
                            $("#CountryNameKz").val("");
                            $("#TnvedCode").val("");
                            $("#KpvedCode").val("");
                            $("#Price").val("");
                            $("#Currency").val("");
                            alert("Данные не найдены");
                        }
                    },
                    error: function(data) {
                        alert("1Error" + data);
                    }
                });
            });

        //добавление продуктов
        $("#saveProductBtn").on("click",
            function() {
                $.ajax({
                    type: "POST",
                    url: "/SafetyAssessment/SaveProducts",
                    data: {
                        'modelId': $("#modelId").val(),
                        'nameRu': $("#NameRu").val(),
                        'nameKz': $("#NameKz").val(),
                        'producerNameRu': $("#ProducerNameRu").val(),
                        'producerNameKz': $("#ProducerNameKz").val(),
                        'countryNameRu': $("#CountryNameRu").val(),
                        'countryNameKz': $("#CountryNameKz").val(),
                        'tnvedCode': $("#TnvedCode").val(),
                        'kpvedCode': $("#KpvedCode").val(),
                        'price': $("#Price").val(),
                        'currency': $("#Currency").val()
                    },
                    dataType: 'json',
                    cache: false,
                    success: function (result) {
                        if (result) {
                            addToTable();
                            $("#NameRu").val("");
                            $("#NameKz").val("");
                            $("#ProducerNameRu").val("");
                            $("#ProducerNameKz").val("");
                            $("#CountryNameRu").val("");
                            $("#CountryNameKz").val("");
                            $("#TnvedCode").val("");
                            $("#KpvedCode").val("");
                            $("#Price").val("");
                            $("#Currency").val("");
                        }
                    },
                    error: function(data) {
                        alert("1Error" + data);
                    }
                });
                return;
            });

        function addToTable() {
            $.ajax({
                type: "GET",
                url: "/SafetyAssessment/AddToTable",
                data: {
                    'modelId': $("#modelId").val()
                },
                dataType: 'json',
                cache: false,
                success: function(result) {
                    $('#tableProducts').DataTable({
                        destroy: true,
                        searching: false,
                        data: result,
                        columns: [
                            { "data": "Id" },
                            { "data": "NameRu" },
                            { "data": "ProducerNameRu" },
                            { "data": "CountryNameRu" },
                            { "data": "TnvedCode" },
                            { "data": "KpvedCode" }
                        ]
                    });
                }
            });
        }
    });

</script> 
