@model PW.Ncels.Database.DataModel.OBK_AssessmentDeclaration
    
@{
    var @expertiseStartDate = DateTime.Now.ToShortDateString();
    var @invoiceContractRu = @Model.InvoiceContractRu;
    var @invoiceContractKz = @Model.InvoiceContractKz;
    var @invoiceRu = @Model.InvoiceRu;
    var @invoicekz = @Model.InvoiceKz;
    var @invoiceDate = @Model.InvoiceDate != null ? @Model.InvoiceDate.ToString() : DateTime.Now.ToShortDateString();


    var @nameRu = "";
    var @nameKz = "";
    var @producerNameRu = "";
    var @producerNameKz = "";
    var @countryNameRu = "";
    var @countryNameKz = "";
    var @tnvedCode = "";
    var @kpvedCode = "";
    var @price = "";
    var @currency = "";
    var @count = @Model.ObkRsProductses?.Count ?? 0;
}

<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Информация о продукции
                </div>
                <div>
                    <button type="button" style="margin: 10px" class="btn btn-default"><span class="pwToolbarButtonReview"></span><span class="pwToolbarButtonTitle">Перевести на следующий этап</span></button>                    
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover dataTable" dt-columns="dtColumns" dt-options="dtOptions" id="tableExpertiseProducts" width="100%"></table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Информация о заявлемой продукции
                </div>
                <div class="panel-body" id="productExpertiseId">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <table id="tableExpertiseProductSeries" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover dataTable" width="100%"></table>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label class="control-label">Результат</label>
                                    @Html.DropDownList("ExpertiseResult", (IEnumerable<SelectListItem>) ViewData["UObkExpertiseResult"],
                                        String.Empty, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-3">
                                    <label class="control-label">Дата регистрации:</label>
                                    <input class="form-control date-control" type="text" id="ExpertiseStartDate" value="@expertiseStartDate">
                                </div>

                                <div class="col-lg-3">
                                    <label class="control-label">Дата истечения:</label>
                                    <input class="form-control date-control" type="text" id="ExpertiseEndDate">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-11">
                                    <label class="control-label">Основание</label>
                                    @Html.DropDownList("ReasonResult", Enumerable.Empty<SelectListItem>(), String.Empty, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label class="control-label">Основание на русском языке*</label>
                                    <textarea rows="4" id="ExpReasonNameRu" name="ExpReasonNameRu" type="text" class="form-control"></textarea>
                                </div>
                                <div class="col-lg-6">
                                    <label class="control-label">Основание на казахском языке*</label>
                                    <textarea rows="4" id="ExpReasonNameKz" name="ExpReasonNameKz" type="text" class="form-control"></textarea>
                                </div>
                            </div>
                            <div id="displayShow" style="display: block">
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <label class="control-label">Наименование на русском языке*</label>
                                        <textarea rows="4" id="ExpProNameRu" name="ExpProNameRu" type="text" class="form-control"></textarea>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="control-label">Наименование на казахском языке*</label>
                                        <textarea rows="4" id="ExpProNameKz" name="ExpProNameKz" type="text" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-11">
                                        <label class="control-label">НД</label>
                                        <input id="TnvedCode1" name="TnvedCode" type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <label class="control-label"></label>
                                        <textarea id="NameRu2" name="NameRu2" type="text" class="form-control"></textarea>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="control-label"></label>
                                        <textarea id="NameKz2" name="NameKz2" type="text" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <label class="control-label">Доп. информация на русском языке</label>
                                        <textarea id="AddInfoExpertiseRu" name="AddInfoExpertiseRu" type="text" class="form-control"></textarea>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="control-label">Доп. информация на казахском языке</label>
                                        <textarea id="AddInfoExpertiseKz" name="AddInfoExpertiseKz" type="text" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <label class="control-label">№ заключения*</label>
                                        <input id="ExpConclusionNumber" name="ExpConclusionNumber" type="text" class="form-control">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="control-label">№ бланка*</label>
                                        <input id="ExpBlankNumber" name="ExpBlankNumber" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <label class="control-label">Тип заключения</label><br/>
                                        <input type="radio" name="radiobutton" checked="checked" id="ExpNotApplication" onchange="hide()"> без приложения
                                        <input type="radio" name="radiobutton" id="ExpApplication" onchange="show()"> с приложением
                                    </div>
                                    <div class="col-lg-6" id="ExpApplicationNumber" style="display:none">
                                        <label class="control-label">№ бланка приложения</label>
                                        <input id="ExpApplicationNumber1" name="ExpApplicationNumber" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function setDateFormat(control) {
        $(control).datepicker({
            dateFormat: 'dd.mm.yy',
            language: 'ru',
            autoclose: true
        });
    }

    function show() {
        document.getElementById('ExpApplicationNumber').style.display = 'block';
    }

    function hide() {
        document.getElementById('ExpApplicationNumber').style.display = 'none';
    }


    $(document).ready(function() {
        setDateFormat(".date-control");
        $('#tableExpertiseProducts').DataTable({
            data: null,
            searching: false,
            "bLengthChange": false,
            columns: [
                { title: "", sWidth: "3%" },
                { title: "Наименование", sWidth: "32%" },
                { title: "Производитель", sWidth: "32%" },
                { title: "Страна-производитель", sWidth: "13%" },
                { title: "ТН ВЭД", sWidth: "10%" },
                { title: "КП ВЭД", sWidth: "10%" }
            ]
        });

        $('#tableExpertiseProductSeries').DataTable({
            data: null,
            searching: false,
            "bLengthChange": false,
            columns: [
                { title: "Номер серии" },
                { title: "Результат" },
                { title: "№ заключения" },
                { title: "Срок действия" }
            ]
        });
        var val = '@Model.Contract_Id';
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetContract")',
            data: { 'id': val },
            dataType: 'json',
            cache: false,
            success: function(data) {
                if (data.isSuccess) {
                    $("#tableExpertiseProducts").DataTable({
                        data: data.result.ObkRsProductses,
                        destroy: true,
                        searching: false,
                        iDisplayLength: 5,
                        LengthMenu: false,
                        "bLengthChange": false,
                        "autoWidth": true,
                        rowCallback: rowCallback,
                        columns: [
                            { data: "Id" },
                            { data: "NameRu" },
                            { data: "ProducerNameRu" },
                            { data: "CountryNameRu" },
                            { data: "TnvedCode" },
                            { data: "KpvedCode" }
                        ]
                    });
                }
            },
            error: function() {
                alert("Connection Failed. Please Try Again");
            }
        });
    });

    $("#ReasonResult").change(function () {
        debugger;
        $("#ExpReasonNameRu").val($(this).find(":selected").text());
        $("#ExpReasonNameKz").val($(this).find(":selected").val());
    });

    $("#ExpertiseResult").change(function () {
        var selectedExpertiseResult = $(this).val();
        debugger;
        if (selectedExpertiseResult === "False") {
            document.getElementById('displayShow').style.display = 'none';
        }
        if (selectedExpertiseResult === "True") {
            document.getElementById('displayShow').style.display = 'block';
        }
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetReasons")',
            data: { expResult: selectedExpertiseResult },
            dataType: 'json',
            cache: false,
            success: function(resultData) {
                var reasonSelect = $("#ReasonResult");
                reasonSelect.empty();
                reasonSelect.append(
                    $('<option/>')
                    .attr('value', "")
                    .text("")
                );
                $.each(resultData,
                    function(index, result) {
                        reasonSelect.append(
                            $('<option/>')
                            .attr('value', result.NameKz)
                            .text(result.NameRu)
                        );
                    });
            }
        });
    });

    function rowClear() {
        $("#ExpertiseResult").val("");
        $("#ReasonResult").val("");
        $("#ExpertiseEndDate").val("");
        $("#ExpReasonNameRu").val("");
        $("#ExpReasonNameKz").val("");
        $("#ExpConclusionNumber").val("");
        $("#ExpBlankNumber").val("");
        $("#ExpApplicationNumber1").val("");
        hide();
    }

    function rowCallback(row) {
        $('td', row).unbind('click');
        $('td', row).bind('click',
            function() {
                var tab = $(this.parentNode.parentNode.parentNode).DataTable();
                tab.$('tr.pw-row-selected').removeClass('pw-row-selected');
                rowClear();
                $(this.parentNode).addClass('pw-row-selected');
                var mass = tab.row('.pw-row-selected').data();

                var resultSeriesRu = mass.OBK_Procunts_Series.map(function(item) {
                    return ", серия " +
                        item.Series +
                        ", годен до " +
                        item.SeriesEndDate +
                        ", партия " +
                        item.SeriesParty +
                        " " +
                        item.SeriesShortNameRu;
                });
                var resultSeriesKz = mass.OBK_Procunts_Series.map(function(item) {
                    return ", " +
                        item.Series +
                        " сериясы, сақтау мерзімі " +
                        item.SeriesEndDate +
                        " ж., партия " +
                        item.SeriesParty +
                        " " +
                        item.SeriesShortNameRu;
                });
                $("#ExpProNameRu").val(mass.NameRu + resultSeriesRu);
                $("#ExpProNameKz").val(mass.NameKz + resultSeriesKz);
                $("#AddInfoExpertiseRu").val("Договора поставки " +
                    "@invoiceContractRu" +
                    " инвойс " +
                    "@invoiceRu" +
                    " дата инвойса " +
                    "@invoiceDate");
                $("#AddInfoExpertiseKz").val("Жеткізу шарты " +
                    "@invoiceContractKz" +
                    " инвойс " +
                    "@invoicekz" +
                    " инвойс күні " +
                    "@invoiceDate");

                $("#tableExpertiseProductSeries").DataTable({
                    data: mass.OBK_Procunts_Series,
                    destroy: true,
                    searching: false,
                    LengthMenu: false,
                    iDisplayLength: 5,
                    bLengthChange: false,
                    rowCallback: rowCallbackSeries,
                    columns: [
                        {
                            data: function(data) {
                                return data.Series +
                                    ", годен до " +
                                    data.SeriesEndDate +
                                    ", партия " +
                                    data.SeriesParty +
                                    " " +
                                    data.SeriesShortNameRu;
                            }
                        },
                        { data: null, defaultContent: "<i>нет данных</i>" },
                        { data: null, defaultContent: "<i>нет данных</i>" },
                        { data: null, defaultContent: "<i>нет данных</i>" }
                    ]
                });

                function rowCallbackSeries(rowSeries) {
                    $('td', rowSeries).unbind('click');
                    $('td', rowSeries).bind('click',
                        function() {
                            var tabSeries = $(this.parentNode.parentNode.parentNode).DataTable();
                            tabSeries.$('tr.pw-row-selected').removeClass('pw-row-selected');
                            rowClear();
                            $(this.parentNode).addClass('pw-row-selected');
                            var massSeries = tabSeries.row('.pw-row-selected').data();
                            debugger;

                            $("#ExpertiseEndDate").val(massSeries.SeriesEndDate);

                            $("#ExpProNameRu").val(mass.NameRu +
                                ", серия " +
                                massSeries.Series +
                                ", годен до " +
                                massSeries.SeriesEndDate +
                                ", партия " +
                                massSeries.SeriesParty +
                                " " +
                                massSeries.SeriesShortNameRu);
                            $("#ExpProNameKz").val(mass.NameKz +
                                ", " +
                                massSeries.Series +
                                " сериясы, сақтау мерзімі " +
                                massSeries.SeriesEndDate +
                                " ж., партия " +
                                massSeries.SeriesParty +
                                " " +
                                massSeries.SeriesShortNameRu);

                            $("#AddInfoExpertiseRu").val("Договора поставки " +
                                "@invoiceContractRu" +
                                " инвойс " +
                                "@invoiceRu" +
                                " дата инвойса " +
                                "@invoiceDate");
                            $("#AddInfoExpertiseKz").val("Жеткізу шарты " +
                                "@invoiceContractKz" +
                                " инвойс " +
                                "@invoicekz" +
                                " инвойс күні " +
                                "@invoiceDate");
                        });
                    return rowSeries;
                }

            });
        return row;
    }
</script>
